{% extends "store_main/base.html" %}
{% load static %}
<!-- Custom styles for this template -->
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}



<!-- Page Content -->
{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">Store</h1>

{% now "jS F Y H:i" %}
{% filter force_escape|lower %}
    This text will be HTML-escaped http://127.0.0.1:8000/, and will appear in all lowercase.
{% endfilter %}


                <p>
                    Новые образы и лучшие бренды Store.
                    Бесплатная доставка по всему миру! Аутлет: до -70% Собственный бренд. -20% новым покупателям.
                </p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href=" products ">
                        Начать покупки
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}

